/* EQUIPO */
.equipo {
    background-color: $crema;
    text-align: center;
    color: $negro;
    padding-top: 10rem;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: stretch;
    .container {
        display: flex;
        flex-flow: row wrap;
    }
    .equipoInner {
        margin-bottom: 1.6rem;
        img {
            margin-bottom: 1.6rem;
            width: 25rem;
        }
        h3 {
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 1.6rem;
        }
        a {
            display: inline-block;
            img {
                width:2.5rem;
                margin: 0 .8rem;
            }
        } 
    }
    a.btn {
        margin-top: 2.2rem;
    }
}