/* 
    Más trabajos
    APLICACIÓN DE GRIDS
    Galería de imágenes responsive
    sin necesidad de @mediaqueries
*/
.masTrabajos {
    background-color: $crema;
    text-align: center;
    min-height: 100vh;
    padding-top: $paddingTop;
    padding-bottom: 3.5rem;
    align-items: center;
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(32.2rem, 1fr));
            grid-gap: 1rem;
            padding-top: 4rem;
        }
}