@media (min-width:576px) {
    
}



@media (min-width:768px) {
    /* HOME */
    .home {
        .container {
            min-height: 100vh;

            .cta {
                padding: 0;
                .cta__title {
                    font-size:6.5rem;
                }
            }
        }
        
    }
    /* SERVICIOS */
    .servicios {
        .serviciosCards {
            padding:2.5rem 4rem;
        }
    }
    /* CONOCENOS */
    .conocenos {
        min-height: calc(100vh - 5.136rem);
        .btnConocenos {
            width: 100%;
            justify-content: flex-end;
        }
    }
}



@media (min-width:992px) {

    /* ----HOME---- */
    .home {
        .container {
            min-height: 100vh;
        }
        .scrollDown {
            display: block;
            animation: upAndDown 2s ease-in-out infinite;
        }
    }

    /* TRABAJOS */
    .trabajos {
        min-height: calc(100vh - 5.136rem);
        .trabajosInner {
            .trabajosInnerHidden {
                padding: 2.6rem 2.6rem;
                h3 {
                    font-size: 2rem;
                }
            }
        }
    }

}


/* hi-res laptops and desktops */
@media (min-width: 1200px) {
    /* ----NAVBAR---- */
    .navbar-expand-xl {
        .navbar-collapse {
            justify-content: flex-end;
        }
    }
    header {
        nav {
            ul {
                li {
                    &:hover {
                        background-color:transparent;
                    }
                }
            }
        }
    }

    /* ----HOME---- */
    .home {
        #particle-js {
            background-position: bottom left;
        }
        .container {
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            min-height: calc(100vh - 5.136rem);
            /* .cta {
                padding-right: 18rem; 
            } */
        }
    }
    /* TRABAJOS */

    .trabajos  {
        padding-bottom: 0;
        .trabajosInner {
            .trabajosInnerHidden {
                padding: 5rem 3.6rem;
                h3 {
                    font-size: 2rem;
                }
            }
        }
    }

    /* SERVICIOS */
    .servicios {
        min-height: calc(100vh - 5.136rem);
        .serviciosCards {
            padding:2.5rem 5rem;
        }
    }

    /* CONOCENOS */
    .conocenos {
        padding-bottom: 0;
        min-height: calc(100vh - 5.136rem);
        .conocenosCards {
            .conocenosSomos {
                padding-right: 2.5rem;
                h1 {
                    font-size: 6.5rem;
                }
            }
        }
    }

    /* EQUIPO */ 
    .equipo {
        min-height: calc(100vh - 5.136rem);
        max-height: auto;
    }
}