/* ----NAVBAR---- */
header {
    background-color: $crema;
    width: 100%;
    position: fixed;
    z-index: 99;
    box-shadow: 0.3px 0.1px 4px rgba(178,178,178,0.4);
    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .logo {
            img {
                width: 163px;
            }
        }
        ul.navbar-nav {
            font-size: 1.8rem;
            li.nav-item {
                a.nav-link {
                    padding: 1.5rem 1.8rem;
                    color: $negro;
                    text-transform: uppercase;
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    position: relative;
                    overflow: hidden;
                    &:before {
                        content: "";
                        position: absolute;
                        z-index: 10;
                        left: 51%;
                        right: 51%;
                        bottom: 0;
                        background: $negro;
                        height: 3px;
                        transition: all 0.5s ease-out;
                    }
                    &:hover {
                        text-decoration: none;
                        color:$negro;
                        background-color: transparent;
                        &:before {
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}