/* DEFAULT */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .1rem;
}

::-moz-selection {
  color: #FAF8EC;
  background: #18A489;
}

::selection {
  color: #FAF8EC;
  background: #18A489;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
  letter-spacing: .2rem;
}

p {
  font-size: 1.6rem;
  letter-spacing: .2rem;
}

a {
  text-decoration: none;
}

img.imgResponsive,
.imgResponsive {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/*  BOOTSTRAP OVERWRITES */
.bootstrapOverwrites h1 {
  font-size: 6.4rem;
}

.bootstrapOverwrites h2 {
  font-size: 2.2rem;
}

.bootstrapOverwrites h3 {
  font-size: 1.8rem;
  letter-spacing: .2rem;
}

.bootstrapOverwrites p {
  font-size: 1.6rem;
  letter-spacing: .2rem;
}

.bootstrapOverwrites .col, .bootstrapOverwrites .col-1, .bootstrapOverwrites .col-10, .bootstrapOverwrites .col-11, .bootstrapOverwrites .col-12, .bootstrapOverwrites .col-2, .bootstrapOverwrites .col-3, .bootstrapOverwrites .col-4, .bootstrapOverwrites .col-5, .bootstrapOverwrites .col-6, .bootstrapOverwrites .col-7, .bootstrapOverwrites .col-8, .bootstrapOverwrites .col-9, .bootstrapOverwrites .col-auto, .bootstrapOverwrites .col-lg, .bootstrapOverwrites .col-lg-1, .bootstrapOverwrites .col-lg-10, .bootstrapOverwrites .col-lg-11, .bootstrapOverwrites .col-lg-12, .bootstrapOverwrites .col-lg-2, .bootstrapOverwrites .col-lg-3, .bootstrapOverwrites .col-lg-4, .bootstrapOverwrites .col-lg-5, .bootstrapOverwrites .col-lg-6, .bootstrapOverwrites .col-lg-7, .bootstrapOverwrites .col-lg-8, .bootstrapOverwrites .col-lg-9, .bootstrapOverwrites .col-lg-auto, .bootstrapOverwrites .col-md, .bootstrapOverwrites .col-md-1, .bootstrapOverwrites .col-md-10, .bootstrapOverwrites .col-md-11, .bootstrapOverwrites .col-md-12, .bootstrapOverwrites .col-md-2, .bootstrapOverwrites .col-md-3, .bootstrapOverwrites .col-md-4, .bootstrapOverwrites .col-md-5, .bootstrapOverwrites .col-md-6, .bootstrapOverwrites .col-md-7, .bootstrapOverwrites .col-md-8, .bootstrapOverwrites .col-md-9, .bootstrapOverwrites .col-md-auto, .bootstrapOverwrites .col-sm, .bootstrapOverwrites .col-sm-1, .bootstrapOverwrites .col-sm-10, .bootstrapOverwrites .col-sm-11, .bootstrapOverwrites .col-sm-12, .bootstrapOverwrites .col-sm-2, .bootstrapOverwrites .col-sm-3, .bootstrapOverwrites .col-sm-4, .bootstrapOverwrites .col-sm-5, .bootstrapOverwrites .col-sm-6, .bootstrapOverwrites .col-sm-7, .bootstrapOverwrites .col-sm-8, .bootstrapOverwrites .col-sm-9, .bootstrapOverwrites .col-sm-auto, .bootstrapOverwrites .col-xl, .bootstrapOverwrites .col-xl-1, .bootstrapOverwrites .col-xl-10, .bootstrapOverwrites .col-xl-11, .bootstrapOverwrites .col-xl-12, .bootstrapOverwrites .col-xl-2, .bootstrapOverwrites .col-xl-3, .bootstrapOverwrites .col-xl-4, .bootstrapOverwrites .col-xl-5, .bootstrapOverwrites .col-xl-6, .bootstrapOverwrites .col-xl-7, .bootstrapOverwrites .col-xl-8, .bootstrapOverwrites .col-xl-9, .bootstrapOverwrites .col-xl-auto {
  padding: 0;
}

.bootstrapOverwrites .row {
  margin: 0;
}

.bootstrapOverwrites .navbar {
  padding: 0;
}

.bootstrapOverwrites .dropdown-menu {
  background-color: #FAF8EC;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

.bootstrapOverwrites .dropdown-item {
  font-size: 1.6rem;
}

.bootstrapOverwrites .dropdown-item:hover {
  background-color: rgba(65, 64, 66, 0.2);
}

/* BOTONES */
a.btn, input.btn {
  display: inline-block;
  padding: .8rem 1.6rem;
  color: #FAF8EC;
  background-color: #414042;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  border: 0.1rem #414042 solid;
  border-radius: .4rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  outline: none;
}

a.btn.btnPrimary, input.btn.btnPrimary {
  background-color: transparent;
  color: #FAF8EC;
  border: solid 0.1rem #18A489;
}

a.btn.btnPrimary:hover, input.btn.btnPrimary:hover {
  background-color: #18A489;
  color: #082D4B;
}

a.btn.btnSecondary, input.btn.btnSecondary {
  background-color: transparent;
  color: #082D4B;
  border: solid 0.1rem #082D4B;
}

a.btn.btnSecondary:hover, input.btn.btnSecondary:hover {
  background-color: #082D4B;
  color: #FAF8EC;
}

/* IT'S ALIVE Animations on scroll */
.itsAlive {
  -webkit-transition: opacity 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s, -webkit-transform 0.5s ease-in-out 0s;
  transition: opacity 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s, -webkit-transform 0.5s ease-in-out 0s;
  transition: opacity 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s, transform 0.5s ease-in-out 0s;
  transition: opacity 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s, transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
}

.itsAlive[data-itsAlive='opacity'] {
  opacity: 0;
}

.itsAlive[data-itsAlive='move_up'] {
  -webkit-transform: translate3d(0, 1rem, 0);
          transform: translate3d(0, 1rem, 0);
}

.itsAlive[data-itsAlive='move_up-opacity'] {
  opacity: 0;
  -webkit-transform: translate3d(0, 1rem, 0);
          transform: translate3d(0, 1rem, 0);
}

.itsAlive.fadeIn {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* ----NAVBAR---- */
header {
  background-color: #FAF8EC;
  width: 100%;
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 0.3px 0.1px 4px rgba(178, 178, 178, 0.4);
          box-shadow: 0.3px 0.1px 4px rgba(178, 178, 178, 0.4);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo img {
  width: 163px;
}

header nav ul.navbar-nav {
  font-size: 1.8rem;
}

header nav ul.navbar-nav li.nav-item a.nav-link {
  padding: 1.5rem 1.8rem;
  color: #414042;
  text-transform: uppercase;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

header nav ul.navbar-nav li.nav-item a.nav-link.active {
  background-color: rgba(178, 178, 178, 0.2);
}

header nav ul.navbar-nav li.nav-item a.nav-link:before {
  content: "";
  position: absolute;
  z-index: 10;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #18A489;
  height: 3px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

header nav ul.navbar-nav li.nav-item a.nav-link:hover {
  text-decoration: none;
  color: #414042;
  background-color: transparent;
}

header nav ul.navbar-nav li.nav-item a.nav-link:hover:before {
  left: 0;
  right: 0;
}

.modal .modal-dialog {
  margin: 0;
}

.modal .modal-dialog .modal-content {
  height: 100vh;
  border: none;
  border-radius: 0;
  background: #FAF8EC;
}

.modal .modal-dialog .modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal .modal-dialog .modal-content .modal-body .close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 3rem;
}

.modal .modal-dialog .modal-content .modal-body .modalNav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem 0;
}

.modal .modal-dialog .modal-content .modal-body .modalNav_link a {
  text-align: center;
  font-size: 3.2rem;
  color: #414042;
}

/* ----FOOTER---- */
footer {
  color: #414042;
  padding: 1rem 1.5rem;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerInfo p {
  font-size: 1rem;
  margin-bottom: 0;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

footer ul li {
  padding: 0 1rem;
  margin-top: .5rem;
}

footer ul li img {
  width: 1.6rem;
}

/* ----HOME---- */
.home {
  position: relative;
}

.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #082D4B;
  background-image: url(../img/bg-home.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.home .container {
  padding-top: 6.5rem;
  padding-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.home .container .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .container .cta {
  padding: 2rem 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #FAF8EC;
}

.home .container .cta .cta__title {
  font-weight: 900;
  font-size: 4.5rem;
  margin-bottom: 1.8rem;
  line-height: 6rem;
}

.home .container .cta .cta__paragraph {
  margin-bottom: 1.7rem;
}

.home .container .cta .cta__paragraph span {
  font-weight: 700;
}

.home .container .catSpace {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .container .catSpace svg {
  width: 100%;
}

/* ----TRABAJOS---- */
.trabajos {
  background-color: #FAF8EC;
  text-align: center;
  padding-top: 6.5rem;
  padding-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trabajos a {
  margin-top: 1.6rem;
}

.trabajos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trabajos .row > div {
  padding: 1.2rem 1rem;
}

.trabajos .trabajosInner {
  position: relative;
  overflow: hidden;
  border-radius: .3rem;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.trabajos .trabajosInner .imgSquare {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -o-object-fit: cover;
     object-fit: cover;
}

.trabajos .trabajosInner .trabajosInnerHidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.6rem 2.6rem;
  text-align: left;
  color: #FAF8EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trabajos .trabajosInner .trabajosInnerHidden h3 {
  font-size: 2rem;
  opacity: 0;
  -webkit-transform: translate3d(-360px, 0, 0);
          transform: translate3d(-360px, 0, 0);
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.trabajos .trabajosInner .trabajosInnerHidden p {
  opacity: 0;
  -webkit-transform: translate3d(-360px, 0, 0);
          transform: translate3d(-360px, 0, 0);
  -webkit-transition: all .5s ease-in .2s;
  transition: all .5s ease-in .2s;
}

.trabajos .trabajosInner .trabajosInnerHidden .trabajosBtnHiden {
  opacity: 0;
  -webkit-transform: translate3d(-360px, 0, 0);
          transform: translate3d(-360px, 0, 0);
  -webkit-transition: all .5s ease-in .4s;
  transition: all .5s ease-in .4s;
  font-size: 1.4rem;
}

.trabajos .trabajosInner:hover .imgSquare {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.trabajos .trabajosInner:hover .trabajosInnerHidden h3 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.trabajos .trabajosInner:hover .trabajosInnerHidden p {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.trabajos .trabajosInner:hover .trabajosInnerHidden .trabajosBtnHiden {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* ----SERVICIOS---- */
.servicios {
  background-image: url(../img/background-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #FAF8EC;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.servicios .container {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios .serviciosCards {
  padding: 1.6rem 2rem;
}

.servicios .serviciosCards img {
  margin-bottom: 1.6rem;
}

.servicios .serviciosCards h3 {
  margin-bottom: 1.8rem;
}

.servicios .serviciosCards p {
  margin-bottom: 1.6rem;
}

/* ----CONOCENOS---- */
.conocenos {
  background-color: #FAF8EC;
  text-align: center;
  color: #414042;
  padding-top: 6.5rem;
  padding-bottom: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conocenos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.conocenos .conocenosCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conocenos .conocenosCards .conocenosSomos {
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.conocenos .conocenosCards .conocenosSomos p {
  margin-bottom: 1.2rem;
  line-height: 2.1rem;
}

.conocenos .conocenosCards .conocenosInner {
  padding: 1rem 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conocenos .conocenosCards .conocenosInner img {
  margin-bottom: 1.6rem;
}

.conocenos .conocenosCards .conocenosInner h3 {
  margin-bottom: 1rem;
}

.conocenos .conocenosCards .conocenosInner p {
  margin-bottom: 1.6rem;
}

.conocenos .conocenosCards .conocenosInner a {
  display: inline-block;
}

.conocenos .conocenosCards .conocenosInner a img {
  width: 2.3rem;
  margin: 0 .8rem;
}

/* ----CONTACTO---- */
.contacto {
  background-color: #082D4B;
  color: #FAF8EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto .row {
  padding-top: 6.5rem;
  min-height: calc(100vh - 5.136rem);
}

.contacto .row .formulario {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contacto .row .formulario form label {
  display: inline-block;
  margin-bottom: 1rem;
}

.contacto .row .formulario form input[type="text"],
.contacto .row .formulario form input[type="email"],
.contacto .row .formulario form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 0.1rem solid #18A489;
  outline: none;
  padding: .3rem;
  color: #FAF8EC;
  font-size: 1.4rem;
}

.contacto .row .formulario form input[type="text"]:focus,
.contacto .row .formulario form input[type="email"]:focus,
.contacto .row .formulario form textarea:focus {
  background-color: #18A489;
}

.contacto .row .formulario form input[type="text"],
.contacto .row .formulario form input[type="email"] {
  height: 2.6rem;
}

.contacto .row .catTakeOff {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contacto label {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  /* HOME */
  .home .container {
    min-height: 100vh;
  }
  .home .container .cta {
    padding: 0;
  }
  .home .container .cta .cta__title {
    font-size: 6.5rem;
  }
  /* SERVICIOS */
  .servicios .serviciosCards {
    padding: 2.5rem 4rem;
  }
  /* CONOCENOS */
  .conocenos {
    min-height: calc(100vh - 5.136rem);
  }
  .conocenos .btnConocenos {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  /* ----HOME---- */
  .home .container {
    min-height: 100vh;
  }
  .home .scrollDown {
    display: block;
    -webkit-animation: upAndDown 2s ease-in-out infinite;
            animation: upAndDown 2s ease-in-out infinite;
  }
  /* TRABAJOS */
  .trabajos {
    min-height: calc(100vh - 5.136rem);
  }
  .trabajos .trabajosInner .trabajosInnerHidden {
    padding: 2.6rem 2.6rem;
  }
  .trabajos .trabajosInner .trabajosInnerHidden h3 {
    font-size: 2rem;
  }
}

/* hi-res laptops and desktops */
@media (min-width: 1200px) {
  /* ----NAVBAR---- */
  .navbar-expand-xl .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav ul li:hover {
    background-color: transparent;
  }
  /* ----HOME---- */
  .home #particle-js {
    background-position: bottom left;
  }
  .home .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: calc(100vh - 5.136rem);
    /* .cta {
                padding-right: 18rem; 
            } */
  }
  /* TRABAJOS */
  .trabajos {
    padding-bottom: 0;
  }
  .trabajos .trabajosInner .trabajosInnerHidden {
    padding: 5rem 3.6rem;
  }
  .trabajos .trabajosInner .trabajosInnerHidden h3 {
    font-size: 2rem;
  }
  /* SERVICIOS */
  .servicios {
    min-height: calc(100vh - 5.136rem);
  }
  .servicios .serviciosCards {
    padding: 2.5rem 5rem;
  }
  /* CONOCENOS */
  .conocenos {
    padding-bottom: 0;
    min-height: calc(100vh - 5.136rem);
  }
  .conocenos .conocenosCards .conocenosSomos {
    padding-right: 2.5rem;
  }
  .conocenos .conocenosCards .conocenosSomos h1 {
    font-size: 6.5rem;
  }
  /* EQUIPO */
  .equipo {
    min-height: calc(100vh - 5.136rem);
    max-height: auto;
  }
}
/*# sourceMappingURL=main.css.map */