/*  smartphones
    Android phones
    landscape iPhone */
    @media (min-width:480px) {

        .equipo {
            .equipoInner {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    
    }
    
    /*  portrait tablets 
        portrait iPad
        e-readers (Nook/Kindle)
        landscape 800x480 phones (Android) */
    @media (min-width:600px) {  }
    
    /*  tablet
        landscape iPad
        lo-res laptops ands desktops */
    @media (min-width:801px) {
    
        /* DEFAULT */
        .grid {
            grid-template-columns: 10% 1fr 10%;
        }
    
        .servicios {
            .serviciosCards {
                flex: 0 0 50%;
                max-width: 50%;
                padding:2.5rem 5rem;
            }
        }
    
        /* CONOCENOS */
    
        .conocenos {
            .conocenosCards {
                .conocenosInner {
                    flex: 0 0 33%;
                    max-width: 33%;
                }
            }
        }
    
    }
    
        /* SERVICIOS */
    
        
    
    /*  big landscape tablets
        laptops and desktops */
    @media (min-width:1025px) {
    
        /* ----DEFAULT---- */
        .grid {
            grid-template-columns: 10% 1fr 10%;
        }
    
    
        /* NAV */
    
        header {
            nav {
                #navbar-toggle-cbox:checked ~ .collapse {
                    flex-flow: row wrap;
                }
            }
        }
    
        /* ----HOME---- */
        .home {
            .scrollDown {
                display: block;
                animation: upAndDown 2s ease-in-out infinite;
            }
        }
        
    
    
        /* TRABAJOS */
        .trabajos {
            height: 100vh;
            .trabajosInner {
                flex: 0 0 50%;
                max-width: 50%;
                padding-bottom: 1.6rem;
                &.trabajosInnerLeft {
                    text-align: left;
                    padding-left: 1.6rem;
                }
                &.trabajosInnerRight {
                    text-align: right;
                    padding-right: .8rem;
                }
            }
        }
        
        /* EQUIPO */
    
        .equipo {
            .equipoInner {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    
    
    
    }
    
    /* hi-res laptops and desktops */
    @media (min-width:1281px) {
        /* DEFAULT */
        .grid {
            grid-template-columns: 10% 1fr 10%;
        }
        /* ----NAVBAR---- */
        header {
            nav {
                label {
                    &.hamburger {
                        display: none;
                    }
                }
                ul {
                    display: flex;
                    flex-flow: row wrap;
                }
            }
        }
        /* ----HOME---- */
        .home {
            .container {
                flex-flow: row wrap;
                justify-content: space-evenly;
                align-items: center;
                height: 100vh;
                .cta {
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding-right: 21.7rem; /* 1920x1080 */
                }
                .catSpace {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
            
        }
    
        /* SERVICIOS */
    
        .servicios {
            height: calc(100vh - 4.6rem);
            .serviciosCards {
                flex: 0 0 33%;
                max-width: 33%;
                padding:2.5rem 5rem;
            }
        }
    
        /* CONOCENOS */
    
        .conocenos {
            height: calc(100vh - 4.6rem);
            padding-bottom: 0;
            .conocenosCards {
                .conocenosSomos {
                    flex: 1 0 40%;
                    max-width: 40%;
                    padding-right: 2.5rem;
                }
                .conocenosInner {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
            }
            .btnConocenos {
                flex: 0 0 20%;
                align-self: flex-end;
            }
        }
    
        /* EQUIPO */ 
    
        .equipo {
            height: calc(100vh - 4.6rem);
            .equipoInner {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
        }
    
    
    }